{
  "openapi": "3.1.0",
  "info": {
    "title": "Flowex API Specification",
    "version": "1.0.0",
    "description": "Documentación OpenAPI unificada para los microservicios serverless y arquitecturas en la nube de **Flowex** (Autenticación JWT, Registro con validación de RUT Módulo 11, Motor OTP con Meta WhatsApp Cloud API, Pasarelas de Pago Mercado Pago y Fintoc Open Banking, Amazon SES y Administración VPC).",
    "contact": {
      "name": "Flowex Engineering Team",
      "email": "contacto@flowex.cl",
      "url": "https://flowex.cl"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.flowex.cl",
      "description": "Ambiente de Producción Flowex"
    },
    {
      "url": "https://api-dev.flowex.cl",
      "description": "Ambiente de Desarrollo / Staging"
    },
    {
      "url": "http://localhost:3000",
      "description": "Servidor Local Serverless Offline"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Autenticación pública, emisión y validación de tokens JWT y gestión de cookies HttpOnly seguras"
    },
    {
      "name": "Registration",
      "description": "Flujo público de onboarding y registro con validación de RUT Módulo 11 y carga de comprobantes en S3"
    },
    {
      "name": "OTP & WhatsApp",
      "description": "Generación y verificación de OTPs de 6 dígitos, integración con Meta WhatsApp Cloud API y auto-activación"
    },
    {
      "name": "Payments",
      "description": "Integración transaccional con pasarelas de pago (Mercado Pago Checkout Pro / WebPay y Fintoc A2A)"
    },
    {
      "name": "Notifications",
      "description": "Notificaciones transaccionales: correo vía Amazon SES y avisos de pedido por Meta WhatsApp. Flowex no envía SMS."
    },
    {
      "name": "Users Administration",
      "description": "Gestión CRUD interna de usuarios en VPC (Roles: root, admin, driver, client)"
    },
    {
      "name": "Admin Overrides",
      "description": "Endpoints y eventos administrativos para activación forzada o resolución manual de registros"
    },
    {
      "name": "Coupons",
      "description": "Sistema de cupones promocionales, validación exclusiva para clientes y administración exclusiva para rol root"
    },
    {
      "name": "Orders & Dispatch",
      "description": "Gestión y consulta de órdenes de despacho con estándar unificado de paginación y filtrado por rol"
    },
    {
      "name": "Route Planning",
      "description": "Planificación, optimización y consulta operativa de rutas y paradas con paginación Importal"
    }
  ],
  "paths": {
    "/admin/registration-requests/{email}/override-activate": {
      "post": {
        "tags": [
          "Admin Overrides"
        ],
        "summary": "Aprobación manual y activación forzada de solicitud por administrador",
        "operationId": "admin_post_override_activate_registration",
        "responses": {
          "200": {
            "description": "Cuenta activada manualmente por administrador.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminOverrideActivateResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acceso denegado: Requiere rol admin o root.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminOverrideActivateRequest"
              }
            }
          }
        },
        "x-service": "registration-admin-lambda",
        "x-source": "Flowex-registration-admin-lambda/src/index.ts",
        "x-roles": [
          "root",
          "admin"
        ],
        "x-aliases": [
          "/admin/registration/requests/{requestId}/override-activate"
        ]
      }
    },
    "/admin/registration/requests/{requestId}/approve": {
      "post": {
        "tags": [
          "Registration Admin"
        ],
        "summary": "Aprobar una solicitud de registro pendiente",
        "operationId": "admin_post_registration_requests_requestId_approve",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "registration-admin-lambda",
        "x-source": "Flowex-registration-admin-lambda/src/index.ts",
        "x-aliases": [
          "/admin/registration-requests/{registrationRequestId}/approve"
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/admin/tariffs": {
      "get": {
        "tags": [
          "Registration Admin"
        ],
        "summary": "Listar tarifas por tamaño de bulto (panel de administración)",
        "operationId": "admin_get_tariffs",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "registration-admin-lambda",
        "x-source": "Flowex-registration-admin-lambda/src/index.ts",
        "x-roles": [
          "root"
        ]
      }
    },
    "/admin/tariffs/{tariffId}": {
      "put": {
        "tags": [
          "Registration Admin"
        ],
        "summary": "Actualizar una tarifa por tamaño de bulto, con auditoría",
        "operationId": "admin_put_tariffs_tariffId",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "registration-admin-lambda",
        "x-source": "Flowex-registration-admin-lambda/src/index.ts",
        "x-roles": [
          "root"
        ],
        "parameters": [
          {
            "name": "tariffId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/auth/change-password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Cambio y actualización de contraseña de usuario",
        "operationId": "auth_post_change_password",
        "responses": {
          "200": {
            "description": "Contraseña actualizada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Campos requeridos faltantes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token inválido o expirado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequest"
              }
            }
          }
        },
        "x-service": "auth-api-lambda",
        "x-source": "Flowex-auth-api-lambda/src/index.ts"
      }
    },
    "/auth/consent": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Consultar estado vigente de consentimiento informado y finalidades del usuario",
        "operationId": "auth_get_user_consent",
        "responses": {
          "200": {
            "description": "Estado de consentimiento y finalidades autorizadas del usuario autenticado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserConsent"
                }
              }
            }
          },
          "401": {
            "description": "Token no provisto o inválido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAccessAuth": []
          }
        ],
        "x-service": "auth-api-lambda",
        "x-source": "Flowex-auth-api-lambda/src/index.ts",
        "x-roles": [
          "root",
          "admin",
          "driver",
          "client"
        ]
      }
    },
    "/auth/consent/grant": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Otorgar finalidades accesorias de consentimiento (Ley N° 21.719)",
        "operationId": "auth_post_consent_grant",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-api-lambda",
        "x-source": "Flowex-auth-api-lambda/src/index.ts",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/auth/consent/revoke": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Revocar consentimiento sobre finalidades accesorias (Ley N° 21.719)",
        "operationId": "auth_post_revoke_consent",
        "responses": {
          "200": {
            "description": "Consentimiento revocado exitosamente para las finalidades seleccionadas.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserConsent"
                }
              }
            }
          },
          "400": {
            "description": "Intento de revocación de finalidades esenciales o lista vacía.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token no provisto o inválido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAccessAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokeConsentRequest"
              }
            }
          }
        },
        "x-service": "auth-api-lambda",
        "x-source": "Flowex-auth-api-lambda/src/index.ts",
        "x-roles": [
          "root",
          "admin",
          "driver",
          "client"
        ]
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Inicio de sesión de usuario (Generación de JWT y Cookies HttpOnly)",
        "operationId": "auth_post_login",
        "responses": {
          "200": {
            "description": "Login exitoso. Devuelve tokens y establece cookies HttpOnly.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "400": {
            "description": "Credenciales incompletas o inválidas.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "x-service": "auth-api-lambda",
        "x-source": "Flowex-auth-api-lambda/src/index.ts",
        "x-roles": [
          "root",
          "admin",
          "driver",
          "client"
        ]
      }
    },
    "/auth/login/resend-2fa": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Reenviar el código del segundo factor al correo",
        "operationId": "auth_post_login_resend_2fa",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-api-lambda",
        "x-source": "Flowex-auth-api-lambda/src/index.ts"
      }
    },
    "/auth/login/verify-2fa": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Verificar el código del segundo factor y emitir la sesión",
        "operationId": "auth_post_login_verify_2fa",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-api-lambda",
        "x-source": "Flowex-auth-api-lambda/src/index.ts"
      }
    },
    "/auth/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Cierre de sesión e invalidación de cookies de acceso",
        "operationId": "auth_post_logout",
        "responses": {
          "200": {
            "description": "Sesión finalizada. Cookies eliminadas.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token no provisto.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAccessAuth": []
          }
        ],
        "x-service": "auth-api-lambda",
        "x-source": "Flowex-auth-api-lambda/src/index.ts"
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Renovación de Access Token mediante Refresh Token",
        "operationId": "auth_post_refresh",
        "responses": {
          "200": {
            "description": "Access Token renovado correctamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshTokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Refresh token ausente, expirado o manipulado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequest"
              }
            }
          }
        },
        "security": [
          {
            "cookieRefreshAuth": []
          }
        ],
        "x-service": "auth-api-lambda",
        "x-source": "Flowex-auth-api-lambda/src/index.ts"
      }
    },
    "/auth/security": {
      "patch": {
        "tags": [
          "Auth"
        ],
        "summary": "Activar o desactivar el segundo factor de la cuenta",
        "operationId": "auth_patch_security",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-api-lambda",
        "x-source": "Flowex-auth-api-lambda/src/index.ts",
        "x-roles": [
          "root",
          "admin",
          "driver"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/auth/validate": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Validación de token activo y resolución de claims/rol",
        "operationId": "auth_get_validate",
        "responses": {
          "200": {
            "description": "Token válido con claims activos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token expirado o inválido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAccessAuth": []
          }
        ],
        "x-service": "auth-api-lambda",
        "x-source": "Flowex-auth-api-lambda/src/index.ts"
      }
    },
    "/internal/capacity/availability": {
      "get": {
        "tags": [
          "Fleet"
        ],
        "summary": "Capacidad disponible de la flota para el día",
        "operationId": "internal_get_capacity_availability",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/communes": {
      "get": {
        "tags": [
          "Communes"
        ],
        "summary": "Listar comunas con cobertura, zona y días de servicio",
        "operationId": "internal_get_communes",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Communes"
        ],
        "summary": "Crear una comuna con evaluación de factibilidad desde el hub más cercano",
        "operationId": "internal_post_communes",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/communes/{communeId}": {
      "patch": {
        "tags": [
          "Communes"
        ],
        "summary": "Actualizar cobertura o días de servicio de una comuna",
        "operationId": "internal_patch_communes_communeId",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root"
        ],
        "parameters": [
          {
            "name": "communeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Communes"
        ],
        "summary": "Actualizar cobertura o días de servicio de una comuna",
        "operationId": "internal_put_communes_communeId",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root"
        ],
        "parameters": [
          {
            "name": "communeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/communes/{communeId}/change-request": {
      "post": {
        "tags": [
          "Communes"
        ],
        "summary": "Solicitar confirmación para un cambio de cobertura con impacto",
        "operationId": "internal_post_communes_communeId_change_request",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root"
        ],
        "parameters": [
          {
            "name": "communeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/communes/{communeId}/feasibility": {
      "get": {
        "tags": [
          "Communes"
        ],
        "summary": "Evaluar si la flota alcanza la comuna desde un hub",
        "operationId": "internal_get_communes_communeId_feasibility",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "parameters": [
          {
            "name": "communeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/communes/{communeId}/history": {
      "get": {
        "tags": [
          "Communes"
        ],
        "summary": "Bitácora de cambios de una comuna (acepta id o nombre)",
        "operationId": "internal_get_communes_communeId_history",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root",
          "admin"
        ],
        "parameters": [
          {
            "name": "communeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Listar la libreta de contactos del remitente",
        "operationId": "internal_get_contacts",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Guardar un contacto con declaración de licitud (Ley N° 21.719)",
        "operationId": "internal_post_contacts",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/contacts/{contactId}": {
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Suprimir un contacto de la libreta",
        "operationId": "internal_delete_contacts_contactId",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Contacts"
        ],
        "summary": "Editar un contacto de la libreta",
        "operationId": "internal_put_contacts_contactId",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/contacts/erasure-requests": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Listar solicitudes de supresión de titulares sin cuenta",
        "operationId": "internal_get_contacts_erasure_requests",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Registrar la solicitud de supresión de un titular sin cuenta",
        "operationId": "internal_post_contacts_erasure_requests",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/contacts/erasure-requests/{erasureRequestId}/identify": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Identificar los contactos afectados por una solicitud de supresión",
        "operationId": "internal_post_contacts_erasure_requests_erasureRequestId_identify",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root"
        ],
        "parameters": [
          {
            "name": "erasureRequestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/contacts/erasure-requests/{erasureRequestId}/notify": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Avisar a los remitentes afectados por una supresión",
        "operationId": "internal_post_contacts_erasure_requests_erasureRequestId_notify",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root"
        ],
        "parameters": [
          {
            "name": "erasureRequestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/contacts/erasure-requests/{erasureRequestId}/purge": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Ejecutar la supresión de los contactos del titular",
        "operationId": "internal_post_contacts_erasure_requests_erasureRequestId_purge",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root"
        ],
        "parameters": [
          {
            "name": "erasureRequestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/contacts/erasure-requests/{erasureRequestId}/reject": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Rechazar una solicitud de supresión con motivo",
        "operationId": "internal_post_contacts_erasure_requests_erasureRequestId_reject",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root"
        ],
        "parameters": [
          {
            "name": "erasureRequestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/contacts/lawful-basis": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Texto y versión vigentes de la declaración de licitud",
        "operationId": "internal_get_contacts_lawful_basis",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/coupons/release": {
      "post": {
        "tags": [
          "Coupons"
        ],
        "summary": "Liberar cupón reservado por cancelación o abandono (Exclusivo rol client)",
        "operationId": "coupons_post_release",
        "responses": {
          "200": {
            "description": "Reserva de cupón liberada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Falta orderId u orden no posee reserva.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acceso denegado: Exclusivo para rol client.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        },
        "description": "Libera la reserva temporal de un cupón para que el cliente pueda volver a utilizarlo si el pago no se completó.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CouponReleaseRequest"
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "client"
        ],
        "x-aliases": [
          "/coupons/release"
        ]
      }
    },
    "/internal/coupons/validate": {
      "post": {
        "tags": [
          "Coupons"
        ],
        "summary": "Validar y pre-aplicar cupón promocional en checkout (Exclusivo rol client)",
        "operationId": "coupons_post_validate",
        "responses": {
          "200": {
            "description": "Cupón válido y descuento calculado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CouponValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Cupón no válido, expirado o agotado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acceso denegado: Exclusivo para rol client.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        },
        "description": "Valida la aplicabilidad de un cupón según vigencia, límite de uso, tope de $30.000 CLP y 15% de descuento máximo. Exclusivo para clientes.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CouponValidationRequest"
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "client"
        ],
        "x-aliases": [
          "/coupons/validate"
        ]
      }
    },
    "/internal/drivers/{driverId}/shift": {
      "patch": {
        "tags": [
          "Fleet"
        ],
        "summary": "Actualizar la jornada de un conductor",
        "operationId": "internal_patch_drivers_driverId_shift",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root",
          "admin"
        ],
        "parameters": [
          {
            "name": "driverId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Fleet"
        ],
        "summary": "Actualizar la jornada de un conductor",
        "operationId": "internal_put_drivers_driverId_shift",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root",
          "admin"
        ],
        "parameters": [
          {
            "name": "driverId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/drivers/shifts": {
      "get": {
        "tags": [
          "Fleet"
        ],
        "summary": "Jornadas configuradas de los conductores",
        "operationId": "internal_get_drivers_shifts",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/geo/commune-at": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Comuna que contiene un punto (latitud y longitud)",
        "operationId": "internal_get_geo_commune_at",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/hubs": {
      "get": {
        "tags": [
          "Hubs"
        ],
        "summary": "Listar hubs (incluye inactivos con ?includeInactive=true)",
        "operationId": "internal_get_hubs",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Hubs"
        ],
        "summary": "Crear un hub; la dirección se geocodifica en el servidor (root)",
        "operationId": "internal_post_hubs",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/hubs/{hubId}": {
      "delete": {
        "tags": [
          "Hubs"
        ],
        "summary": "Dar de baja un hub sin vehículos activos (root)",
        "operationId": "internal_delete_hubs_hubId",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root"
        ],
        "parameters": [
          {
            "name": "hubId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Hubs"
        ],
        "summary": "Actualizar un hub; un nombre nuevo se propaga a pedidos y rutas (root)",
        "operationId": "internal_patch_hubs_hubId",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root"
        ],
        "parameters": [
          {
            "name": "hubId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Hubs"
        ],
        "summary": "Actualizar un hub; un nombre nuevo se propaga a pedidos y rutas (root)",
        "operationId": "internal_put_hubs_hubId",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root"
        ],
        "parameters": [
          {
            "name": "hubId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/invites": {
      "get": {
        "tags": [
          "Invitations"
        ],
        "summary": "Listar invitaciones emitidas",
        "operationId": "internal_get_invites",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Invitations"
        ],
        "summary": "Invitar a un administrador o conductor (root)",
        "operationId": "internal_post_invites",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/invites/{inviteId}": {
      "delete": {
        "tags": [
          "Invitations"
        ],
        "summary": "Revocar una invitación",
        "operationId": "internal_delete_invites_inviteId",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root"
        ],
        "parameters": [
          {
            "name": "inviteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/invites/{inviteId}/verify": {
      "get": {
        "tags": [
          "Invitations"
        ],
        "summary": "Verificar una invitación antes del registro",
        "operationId": "internal_get_invites_inviteId_verify",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "parameters": [
          {
            "name": "inviteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/internal/orders": {
      "get": {
        "tags": [
          "Orders & Dispatch"
        ],
        "summary": "Listar todas las órdenes operativas con paginación Importal",
        "operationId": "internal_get_orders",
        "responses": {
          "200": {
            "description": "Listado completo de órdenes paginadas para operaciones internas.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OrderSummary"
                      }
                    },
                    "orders": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OrderSummary"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "example": 340
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No autenticado o token ausente/inválido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acceso denegado: Requiere rol admin o root.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        },
        "description": "Endpoint administrativo y de despacho para supervisión global de pedidos en VPC, con filtros combinados por estado, conductor o cliente y metadatos estándar de paginación.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Número de página actual (1-indexed)"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Cantidad máxima de órdenes por página (máximo 100)"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filtrar por estado del pedido"
          },
          {
            "name": "driverId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filtrar por ID de conductor asignado"
          },
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filtrar por ID o RUT de cliente"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Búsqueda por tracking, remitente, destinatario o comuna"
          }
        ],
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "admin",
          "root"
        ],
        "x-aliases": [
          "/orders"
        ]
      },
      "post": {
        "tags": [
          "Orders & Dispatch"
        ],
        "summary": "Crear un pedido para el cliente autenticado",
        "operationId": "internal_post_orders",
        "responses": {
          "201": {
            "description": "Pedido creado o respuesta idempotente reproducida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "JSON, clave, comunas, direcciones, peso o bultos inválidos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente o inválido."
          },
          "403": {
            "description": "Solo clientes pueden crear pedidos."
          },
          "409": {
            "description": "IDEMPOTENCY_KEY_REUSED: la clave ya corresponde a otro contenido."
          },
          "503": {
            "description": "COVERAGE_UNAVAILABLE, TARIFF_UNAVAILABLE u ORDER_PERSISTENCE_UNAVAILABLE; el lote no se creó."
          }
        },
        "description": "Acepta un pedido o {orders:[...]}. Requiere comunas cubiertas y tarifas vigentes; persiste el lote de forma atómica. El servidor calcula precio, tracking y PIN; el pedido nace sin pagar.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            },
            "description": "Clave por cliente y operación orders.create, compartida por /orders y /orders/batch. Se conserva 30 días; mismo contenido devuelve el mismo 201."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderCreateRequest"
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-aliases": [
          "/orders"
        ]
      }
    },
    "/internal/orders/{orderId}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Detalle de un pedido; sin sesión devuelve solo la vista pública de rastreo",
        "operationId": "internal_get_orders_orderId",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-aliases": [
          "/orders/{orderId}"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/orders/{orderId}/client-modifications": {
      "patch": {
        "tags": [
          "Orders"
        ],
        "summary": "Modificaciones del cliente antes del retiro",
        "operationId": "internal_patch_orders_orderId_client_modifications",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-aliases": [
          "/orders/{orderId}/client-modifications"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/orders/{orderId}/coupon": {
      "delete": {
        "tags": [
          "Orders"
        ],
        "summary": "Quitar el cupón de un pedido",
        "operationId": "internal_delete_orders_orderId_coupon",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-aliases": [
          "/orders/{orderId}/coupon"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Aplicar un cupón a un pedido",
        "operationId": "internal_post_orders_orderId_coupon",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-aliases": [
          "/orders/{orderId}/coupon"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/orders/{orderId}/coupon/remove": {
      "delete": {
        "tags": [
          "Orders"
        ],
        "summary": "Quitar el cupón de un pedido",
        "operationId": "internal_delete_orders_orderId_coupon_remove",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-aliases": [
          "/orders/{orderId}/coupon/remove"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Quitar el cupón de un pedido",
        "operationId": "internal_post_orders_orderId_coupon_remove",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-aliases": [
          "/orders/{orderId}/coupon/remove"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/orders/{orderId}/delivery-code": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Solo root",
        "operationId": "internal_get_orders_orderId_delivery_code",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root"
        ],
        "x-aliases": [
          "/orders/{orderId}/delivery-code"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/orders/{orderId}/delivery-code/regenerate": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Regenerar el código de entrega (root)",
        "operationId": "internal_post_orders_orderId_delivery_code_regenerate",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root"
        ],
        "x-aliases": [
          "/orders/{orderId}/delivery-code/regenerate"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/orders/{orderId}/discrepancy": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Registrar diferencia de bulto detectada en bodega",
        "operationId": "internal_post_orders_orderId_discrepancy",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-aliases": [
          "/orders/{orderId}/discrepancy"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/orders/{orderId}/discrepancy/settle": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Liberar un pedido retenido tras pagar la diferencia",
        "operationId": "internal_post_orders_orderId_discrepancy_settle",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-aliases": [
          "/orders/{orderId}/discrepancy/settle"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/orders/{orderId}/evidence": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Fotografías de retiro y entrega con URL firmada",
        "operationId": "internal_get_orders_orderId_evidence",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-aliases": [
          "/orders/{orderId}/evidence"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Subir las dos fotografías de un hito (retiro o entrega)",
        "operationId": "internal_post_orders_orderId_evidence",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root",
          "admin",
          "driver"
        ],
        "x-aliases": [
          "/orders/{orderId}/evidence"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/orders/{orderId}/invoice": {
      "patch": {
        "tags": [
          "Orders"
        ],
        "summary": "Registrar el folio SII de la factura (root)",
        "operationId": "internal_patch_orders_orderId_invoice",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root"
        ],
        "x-aliases": [
          "/orders/{orderId}/invoice"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/orders/{orderId}/status": {
      "patch": {
        "tags": [
          "Orders"
        ],
        "summary": "Cambiar el estado de un pedido; al pasar a in_hub fija el hub donde se recibe",
        "operationId": "internal_patch_orders_orderId_status",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root",
          "admin",
          "driver"
        ],
        "x-aliases": [
          "/orders/{orderId}/status"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/orders/batch": {
      "post": {
        "tags": [
          "Orders & Dispatch"
        ],
        "summary": "Crear pedidos en lote para el cliente autenticado",
        "operationId": "internal_post_orders_batch",
        "responses": {
          "201": {
            "description": "Lote creado o respuesta idempotente reproducida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Contenido inválido o fuera de cobertura."
          },
          "401": {
            "description": "Token ausente o inválido."
          },
          "403": {
            "description": "Solo clientes."
          },
          "409": {
            "description": "IDEMPOTENCY_KEY_REUSED."
          },
          "503": {
            "description": "Cobertura, tarifas o persistencia no disponibles; ningún pedido creado."
          }
        },
        "description": "Mismo contrato e idempotencia que POST /orders. Todos los pedidos se confirman o ninguno.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "orders"
                ],
                "properties": {
                  "orders": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "$ref": "#/components/schemas/OrderCreateRequest"
                    }
                  }
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-aliases": [
          "/orders/batch"
        ]
      }
    },
    "/internal/planner-settings": {
      "get": {
        "tags": [
          "Planner Settings"
        ],
        "summary": "Parámetros vigentes del planificador",
        "operationId": "internal_get_planner_settings",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/planner-settings/{plannerSettingId}": {
      "patch": {
        "tags": [
          "Planner Settings"
        ],
        "summary": "Cambiar un parámetro del planificador con confirmación",
        "operationId": "internal_patch_planner_settings_plannerSettingId",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root"
        ],
        "parameters": [
          {
            "name": "plannerSettingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Planner Settings"
        ],
        "summary": "Cambiar un parámetro del planificador con confirmación",
        "operationId": "internal_put_planner_settings_plannerSettingId",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root"
        ],
        "parameters": [
          {
            "name": "plannerSettingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/planner-settings/{plannerSettingId}/change-request": {
      "post": {
        "tags": [
          "Planner Settings"
        ],
        "summary": "Solicitar el token de confirmación y el impacto de un cambio",
        "operationId": "internal_post_planner_settings_plannerSettingId_change_request",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root"
        ],
        "parameters": [
          {
            "name": "plannerSettingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/planner-settings/{plannerSettingId}/history": {
      "get": {
        "tags": [
          "Planner Settings"
        ],
        "summary": "Bitácora de cambios de un parámetro",
        "operationId": "internal_get_planner_settings_plannerSettingId_history",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root",
          "admin"
        ],
        "parameters": [
          {
            "name": "plannerSettingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/root/coupons": {
      "get": {
        "tags": [
          "Coupons"
        ],
        "summary": "Listar cupones y KPIs de rendimiento (Exclusivo rol root)",
        "operationId": "root_get_coupons",
        "responses": {
          "200": {
            "description": "Listado de cupones y métricas de campaña.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Coupon"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "example": 120
                    },
                    "coupons": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Coupon"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    },
                    "metrics": {
                      "type": "object",
                      "properties": {
                        "totalCoupons": {
                          "type": "integer",
                          "example": 120
                        },
                        "activeCoupons": {
                          "type": "integer",
                          "example": 110
                        },
                        "totalRedemptions": {
                          "type": "integer",
                          "example": 840
                        },
                        "totalDiscountGranted": {
                          "type": "number",
                          "example": 2520000
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Acceso denegado: Exclusivo para rol root.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        },
        "description": "Devuelve la lista paginada de cupones con métricas consolidadas de canjes, descuentos acumulados y creadores asociados.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Número de página actual (1-indexed)"
          },
          {
            "name": "isActive",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Filtrar por estado activo/inactivo"
          },
          {
            "name": "creator",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filtrar por nombre o atribución de creador"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root"
        ],
        "x-aliases": [
          "/root/coupons"
        ]
      },
      "post": {
        "tags": [
          "Coupons"
        ],
        "summary": "Crear cupón promocional individual (Exclusivo rol root)",
        "operationId": "root_post_coupons",
        "responses": {
          "201": {
            "description": "Cupón creado exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "coupon": {
                      "$ref": "#/components/schemas/Coupon"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parámetros inválidos o superación de topes (máx 15%, máx $30.000 CLP).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acceso denegado: Exclusivo para rol root.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        },
        "description": "Crea un cupón único con restricciones financieras de máx 15% y $30.000 CLP. Exclusivo para el rol root.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CouponCreateRequest"
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root"
        ],
        "x-aliases": [
          "/root/coupons"
        ]
      }
    },
    "/internal/root/coupons/{id}": {
      "patch": {
        "tags": [
          "Coupons"
        ],
        "summary": "Actualizar cupón o prorrogar vigencia (Exclusivo rol root)",
        "operationId": "root_patch_coupon_by_id",
        "responses": {
          "200": {
            "description": "Cupón actualizado exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "coupon": {
                      "$ref": "#/components/schemas/Coupon"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Datos de actualización inválidos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acceso denegado: Exclusivo para rol root.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        },
        "description": "Permite pausar/desactivar un cupón, extender su vigencia o aumentar el límite de usos.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "ID único del cupón a actualizar"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CouponUpdateRequest"
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root"
        ],
        "x-aliases": [
          "/root/coupons/{couponId}"
        ]
      }
    },
    "/internal/root/coupons/batch": {
      "post": {
        "tags": [
          "Coupons"
        ],
        "summary": "Generación masiva de cupones con prefijo (Exclusivo rol root)",
        "operationId": "root_post_coupons_batch",
        "responses": {
          "201": {
            "description": "Lote de cupones generado exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "count": {
                      "type": "integer",
                      "example": 50
                    },
                    "coupons": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Coupon"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parámetros de lote inválidos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acceso denegado: Exclusivo para rol root.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        },
        "description": "Genera un lote de cupones con prefijo unificado (hasta 500 unidades) para activaciones o convenios de creadores. Exclusivo para root.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CouponBatchCreateRequest"
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root"
        ],
        "x-aliases": [
          "/root/coupons/batch"
        ]
      }
    },
    "/internal/root/coupons/import-csv": {
      "post": {
        "tags": [
          "Coupons"
        ],
        "summary": "Importar cupones de creadores vía CSV (Exclusivo rol root)",
        "operationId": "root_post_coupons_import_csv",
        "responses": {
          "201": {
            "description": "Importación de cupones completada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "importedCount": {
                      "type": "integer",
                      "example": 25
                    },
                    "coupons": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Coupon"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Formato CSV o datos de cupones inválidos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acceso denegado: Exclusivo para rol root.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        },
        "description": "Permite la carga de listas masivas de códigos personalizados de influencers/creadores respetando topes comerciales.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CouponImportCsvRequest"
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root"
        ],
        "x-aliases": [
          "/root/coupons/import-csv"
        ]
      }
    },
    "/internal/route-assignments": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Asignaciones de ruta, conductor y vehículo",
        "operationId": "internal_get_route_assignments",
        "responses": {
          "200": {
            "description": "Operación ejecutada exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessResponse"
                }
              }
            }
          }
        },
        "x-service": "auth-admin-lambda",
        "x-source": "Flowex-auth-admin-lambda/src/index.ts",
        "x-roles": [
          "root",
          "admin",
          "driver"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/internal/routes": {
      "get": {
        "tags": [
          "Route Planning"
        ],
        "summary": "Listar rutas operativas con paradas ordenadas y paginación Importal",
        "operationId": "internal_get_routes",
        "responses": {
          "200": {
            "description": "Listado operativo de rutas con paradas y métricas de optimización.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RouteSummary"
                      }
                    },
                    "routes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RouteSummary"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "example": 15
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No autenticado o token ausente/inválido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acceso denegado: Requiere rol admin o root.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        },
        "description": "Consulta interna en VPC de rutas planificadas con paradas ordenadas secuencialmente por stopSequence, cálculo de distancias y paginación estándar Importal.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Número de página actual (1-indexed)"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Cantidad máxima de rutas por página (máximo 100)"
          },
          {
            "name": "type",
[...]
